@keyframes bounceX {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px); 
  }
}
.animate1  {
  animation: bounceX 1s infinite; 
}

@keyframes bounce2 {
  0%, 100% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(0); 
  }
}
.animate2  {
  animation: bounce2 1s infinite; 
}
.episodes:hover {
color: purple;
}
